/* index.css para estilo general que afecta a toda la aplicación */
@import "tailwindcss";
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f6f8;
}
